header{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    font-family: Quicksand;
    padding: 10px;
    border-bottom: 5px solid #FFF;
    height: calc(10% - 25px);
    background: -webkit-linear-gradient(rgb(201, 150, 150), #000);
    -webkit-text-fill-color: transparent;
}

h2, h3{
    font-family: Quicksand;
    font-weight: bold;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    height: 100%;
    width: 100%;
}

body{
    padding-top: 8%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

article{
    margin: 0 auto;
    width: calc(95% - 10px);
    height: calc(100% - 10px);
}

td {
    padding: 5px 20px;
}

#menu{
    background-color: #0D0548;
    padding-top:1%;
    padding-right: 2%;
    width: 100%
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    display: inline-block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    color: #FFF;
    background: #0D0548 8px 50%;
    height: 100%;
    vertical-align: bottom;
    font-weight: bold;
}

#menu ul a:hover {
    display: inline-block;
    position: relative;
    color: #000;
    font-weight: bold;
    cursor:pointer;
}

#Home, #Browse, #showContent, #UploadContent, #QA, #showQ, #UploadQuestion, #UploadAnswer{
    padding-left: 5%;
    height: 80%;
    width: calc(90% - 20px);
}

#logo{
    height: 35px;
    width: 80px;
}

#Global{
    height: 50%;
    width: 50%;
}

#About{
    float: left;
    text-align: justify;
}

#Browse, #UploadContent, #QA, #UploadQuestion, #UploadAnswer{
    display: none;
}

#Browse input {
    display: inline;
}

#search {
    width: 72.15%;
}

#Browse table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

#upload, #anonymousCheck{
    grid-column: 1 /span 2;
}

#upload input {
    display: none;
}

.questionColumn {
    text-align: left;
    width: 350px;
    font-weight: bold;
}

.questionColumn .contentHeader:hover{
    font-size: 110%;
    cursor: pointer;
}

.extraDocs{
    width: 160px;    
}

.extraDocs img{
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 0px 5px;
}

.voted img {
    height: 50px;
    width: 50px;
    cursor:pointer;
}

.number {
    font-size: 150%;
    text-align: center;
    align-content: center;
}

.description {
    color: #A9A9A9;
    font-weight: normal;
}

.buttons{
    border: none;
    background: #dddddd;
    padding: 6px 12px;
    cursor:pointer;
}

.questionform{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#uploadForm{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 16px;
}
